*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
.kitkat{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d061a;
    /* visibility: visible;
    opacity: 1; */

}
.kitkat.active{
    visibility: hidden;
    opacity: 0;
}
.container45{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
   
}

.container45 .box45{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}
.container45 .box45::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.container45 .box45::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}
.container45 .box45:hover:before,
.container45 .box45:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

}
.container45 .box45:nth-child(1):before,
.container45 .box45:nth-child(1):after{
    background: linear-gradient(315deg, #d6b222,#ff0058);
}

.container45 .box45:nth-child(2):before,
.container45 .box45:nth-child(2):after{
    background: linear-gradient(315deg, #e4d8e3,#b924a0);
}

.container45 .box45:nth-child(3):before,
.container45 .box45:nth-child(3):after{
    background: linear-gradient(315deg, #e0bd2f,#5ba506);
    /* background: linear-gradient(315deg, #03a9f4,#ff0058); */
}
.container45 .box45 span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.container45 .box45 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255,255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.container45 .box45:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.container45 .box45:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container45 .box45 span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255,255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation-delay:-1s;
}
.container45 .box45:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}



@keyframes animate{
    0% ,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}

.container45 .box45 .content45{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255,255, 0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transform: 0.5s;
    color: #fff;
    
}
.container45 .box45:hover .content45{
    left: -25px;
    padding: 60px 40px;
}
.container45 .box45 .content45 h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 0px;
}
.container45 .box45 .content45 p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.44em;
}
.container45 .box45 .content45 a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,3.2);
    
}